include ../bemto/bemto.pug

header.header-main
	div.header-main__container
		img.header-main__logo(src="img/logo.svg" alt="Логотип" width="41" height="56")
		div.header-main__wrapper
			span.header-main__logo-title adventure
			p.header-main__logo-subtitle оставь свой след, где его еще нет...
