include ../bemto/bemto.pug

main.main-page
  h1.visually-hidden Страны мира
  ul.main-page__list
    li.item.item--cuba.swiper-container
      div.slider.swiper-wrapper
        div.slide.slide--1.swiper-slide
          h3.item__title Cuba
        div.slide.slide--2.swiper-slide
          h3.item__title Cuba
          p.item__description Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
        div.slide.slide--3.swiper-slide
          i.slider-control__button.slider-control__button--increase
          h3.item__title Cuba
        div.slide.slide--4.swiper-slide
          i.slider-control__button.slider-control__button--play
          h3.item__title Cuba
      div.swiper-button-next.slider__nextbutton
      div.swiper-button-prev.slider__prewbutton
    li.item.item--russia.swiper-container
      div.slider.swiper-wrapper
        div.slide.slide--1.swiper-slide
          h3.item__title Russia
        div.slide.slide--2.swiper-slide
          h3.item__title Russia
          p.item__description Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
        div.slide.slide--3.swiper-slide
          i.slider-control__button.slider-control__button--increase
          h3.item__title Russia
        div.slide.slide--4.swiper-slide
          i.slider-control__button.slider-control__button--play
          h3.item__title Russia
      div.swiper-button-next.slider__nextbutton
      div.swiper-button-prev.slider__prewbutton
    li.item.big-element#big-element--america
      h3.big-element__title Latin America
      ol.big-element__list
        li.big-element__item Honduras
        li.big-element__item Columbia
        li.big-element__item Panama
        li.big-element__item Brazil
        li.big-element__item Peru
    li.item.item--england.swiper-container
      div.slider.swiper-wrapper
        div.slide.slide--1.swiper-slide
          h3.item__title England
        div.slide.slide--2.swiper-slide
          h3.item__title England
          p.item__description Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
        div.slide.slide--3.swiper-slide
          i.slider-control__button.slider-control__button--increase
          h3.item__title England
        div.slide.slide--4.swiper-slide
          i.slider-control__button.slider-control__button--play
          h3.item__title England
      div.swiper-button-next.slider__nextbutton
      div.swiper-button-prev.slider__prewbutton
    li.item.item--norway.swiper-container
      div.slider.swiper-wrapper
        div.slide.slide--1.swiper-slide
          h3.item__title Norway
        div.slide.slide--2.swiper-slide
          h3.item__title Norway
          p.item__description Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
        div.slide.slide--3.swiper-slide
          i.slider-control__button.slider-control__button--increase
          h3.item__title Norway
        div.slide.slide--4.swiper-slide
          i.slider-control__button.slider-control__button--play
          h3.item__title Norway
      div.swiper-button-next.slider__nextbutton
      div.swiper-button-prev.slider__prewbutton
    li.item.item--swizerland.swiper-container
      div.slider.swiper-wrapper
        div.slide.slide--1.swiper-slide
          h3.item__title Swizerland
        div.slide.slide--2.swiper-slide
          h3.item__title Swizerland
          p.item__description Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
        div.slide.slide--3.swiper-slide
          i.slider-control__button.slider-control__button--increase
          h3.item__title Swizerland
        div.slide.slide--4.swiper-slide
          i.slider-control__button.slider-control__button--play
          h3.item__title Swizerland
      div.swiper-button-next.slider__nextbutton
      div.swiper-button-prev.slider__prewbutton
    li.item.item--china.swiper-container
      div.slider.swiper-wrapper
        div.slide.slide--1.swiper-slide
          h3.item__title China
        div.slide.slide--2.swiper-slide
          h3.item__title CubaChina
          p.item__description Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
        div.slide.slide--3.swiper-slide
          i.slider-control__button.slider-control__button--increase
          h3.item__title CubaChina
        div.slide.slide--4.swiper-slide
          i.slider-control__button.slider-control__button--play
          h3.item__title CubaChina
      div.swiper-button-next.slider__nextbutton
      div.swiper-button-prev.slider__prewbutton
    li.item.item--germany.swiper-container
      div.slider.swiper-wrapper
        div.slide.slide--1.swiper-slide
          h3.item__title Germany
        div.slide.slide--2.swiper-slide
          h3.item__title Germany
          p.item__description Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
        div.slide.slide--3.swiper-slide
          i.slider-control__button.slider-control__button--increase
          h3.item__title Germany
        div.slide.slide--4.swiper-slide
          i.slider-control__button.slider-control__button--play
          h3.item__title Germany
      div.swiper-button-next.slider__nextbutton
      div.swiper-button-prev.slider__prewbutton
    li.item.item--japan.swiper-container
      div.slider.swiper-wrapper
        div.slide.slide--1.swiper-slide
          h3.item__title Japan
        div.slide.slide--2.swiper-slide
          h3.item__title Japan
          p.item__description Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
        div.slide.slide--3.swiper-slide
          i.slider-control__button.slider-control__button--increase
          h3.item__title Japan
        div.slide.slide--4.swiper-slide
          i.slider-control__button.slider-control__button--play
          h3.item__title Japan
      div.swiper-button-next.slider__nextbutton
      div.swiper-button-prev.slider__prewbutton
    li.item.item--australia.swiper-container
      div.slider.swiper-wrapper
        div.slide.slide--1.swiper-slide
          h3.item__title Australia
        div.slide.slide--2.swiper-slide
          h3.item__title Australia
          p.item__description Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
        div.slide.slide--3.swiper-slide
          i.slider-control__button.slider-control__button--increase
          h3.item__title Australia
        div.slide.slide--4.swiper-slide
          i.slider-control__button.slider-control__button--play
          h3.item__title Australia
      div.swiper-button-next.slider__nextbutton
      div.swiper-button-prev.slider__prewbutton
    li.item.item--india.swiper-container
      div.slider.swiper-wrapper
        div.slide.slide--1.swiper-slide
          h3.item__title India
        div.slide.slide--2.swiper-slide
          h3.item__title India
          p.item__description Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
        div.slide.slide--3.swiper-slide
          i.slider-control__button.slider-control__button--increase
          h3.item__title India
        div.slide.slide--4.swiper-slide
          i.slider-control__button.slider-control__button--play
          h3.item__title India
      div.swiper-button-next.slider__nextbutton
      div.swiper-button-prev.slider__prewbutton
    li.item.item--finland.swiper-container
      div.slider.swiper-wrapper
        div.slide.slide--1.swiper-slide
          h3.item__title Finland
        div.slide.slide--2.swiper-slide
          h3.item__title Finland
          p.item__description Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
        div.slide.slide--3.swiper-slide
          i.slider-control__button.slider-control__button--increase
          h3.item__title Finland
        div.slide.slide--4.swiper-slide
          i.slider-control__button.slider-control__button--play
          h3.item__title Finland
      div.swiper-button-next.slider__nextbutton
      div.swiper-button-prev.slider__prewbutton
    li.item.item--zeland.swiper-container
      div.slider.swiper-wrapper
        div.slide.slide--1.swiper-slide
          h3.item__title New Zeland
        div.slide.slide--2.swiper-slide
          h3.item__title New Zeland
          p.item__description Хэмингуэй, став весьма знаменитым, естественно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
        div.slide.slide--3.swiper-slide
          i.slider-control__button.slider-control__button--increase
          h3.item__title New Zeland
        div.slide.slide--4.swiper-slide
          i.slider-control__button.slider-control__button--play
          h3.item__title New Zeland
      div.swiper-button-next.slider__nextbutton
      div.swiper-button-prev.slider__prewbutton
