include ../bemto/bemto.pug

nav.nav-main
	ul.nav-main__list
		li.nav-main__item
			a.nav-main__item-link(href="#") Все страны
		li.nav-main__item
			a.nav-main__item-link(href="#") Культура
		li.nav-main__item
			a.nav-main__item-link(href="#") Экстрим
		li.nav-main__item
			a.nav-main__item-link(href="#") Атмосфера
		li.nav-main__item
			a.nav-main__item-link(href="#") Люди
