div.popup__wrapper.visually-hidden
div.popup__modal.popup__modal--video.visually-hidden
	button.popup__close(type="button")
div.popup__modal.popup__modal--zoom.visually-hidden
	button.popup__close(type="button")