include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body.index
    include layout/__header-main
    include layout/__nav-main
    include layout/__main
    include layout/__footer-main
    include layout/__popup
    include layout/__scripts