.item {
	position: relative;
	
	display: block;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	width: 300px;
	margin-bottom: 20px;

	background-color: #54656e;
}

.item__title {
	margin: 0;

	font-size: 36px;
	line-height: 17px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
}

.item--cuba {
	background-image: url("../../img/cuba.jpg");
}

.item--russia {
	background-image: url("../../img/russia.jpg");
}

.item--england {
	background-image: url("../../img/england.jpg");
}

.item--norway {
	background-image: url("../../img/norway.jpg");
}

.item--swizerland {
	background-image: url("../../img/switzerland.jpg");
}

.item--china {
	background-image: url("../../img/china.jpg");
}

.item--germany {
	background-image: url("../../img/germany.jpg");
}

.item--japan {
	background-image: url("../../img/japan.jpg");
}

.item--australia {
	background-image: url("../../img/australia.jpg");
}

.item--india {
	background-image: url("../../img/india.jpg");
}

.item--finland {
	background-image: url("../../img/finland.jpg");
}

.item--zeland {
	background-image: url("../../img/newZeland.jpg");
}

.slide {
	width 300px;
	height 200px;
}

.slide--1 .item__title {
	position absolute
	width 300px
	height 200px
	margin-left -150px
	margin-top -100px
	padding-top 32%
	top 50%
	left 50%
}

.slide--2 {
	background-color: #313336
}

.slide.slide--2 .item__description {
	width: 262px;
	position: absolute;
	top: 21px;
	left: 21px;
	
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}

.slide--2 .item__title,
.slide--3 .item__title,
.slide--4 .item__title {
	position absolute;
	bottom 21px
	left 20px
	
	font-size 24px
	line-height 17px
	font-weight 400
}

.slide.slide--3 {
	background-image: url("../../img/photoDark.jpg");
}

.slider-control__button {
	position absolute
	top 79px
	left 130px
	cursor pointer

	width 43px
	height 42px
	
	opacity 0.8
}

.slider-control__button--increase {
	background-image url("../../img/icon_zoom.svg")
}

.slider-control__button--play {
	background-image url("../../img/icon_play.svg")
}

.slide.slide--4 {
	background-image: url("../../img/photoVideo.jpg");
}

